.Header {
    display: flex;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white
}

.Header button{
    background: none;
    border: none;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
.Header button svg{
    width: 2rem;
    height: 2rem;
}

.Header button:hover svg{
    transform: rotate(-360deg);
    transition: 0.3s ease-out;
}