/* variables */
:root {
  --main-color: #0f0f15;
  --color-primary: #79ffa6;
  --gradient-color: #79ffa6, #d0ffe0;
  --text-color: #f0f8ff;
  --color-dark: #111;
}

/* body */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Archivo", sans-serif;
  color: var(--text-color);
  background-color: var(--main-color);
  font-size: 1rem;
  margin: 1rem;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none !important;
  transition: background-color 1s ease;
}

body::-webkit-scrollbar {
  display: none;
}

/* text */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  cursor: default;
}
